.content {
  padding: 1rem;
}
.currencies {
  display: flex;
  justify-content: space-between;
}
.anchor {
  color: #333;
  font-size: 14px;
  width: 23%;
  padding: 22px;
  cursor: pointer;
  /* min-width: 250px; */
  position: relative;
}

.anchor span:nth-child(1) {
  display: flex;
  transform: translate(0, -50%);
}
.anchor span:nth-child(2) {
  color: #6b6b6b;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 30px;
  padding-left: 22px;
}
.anchor:hover,
.anchor:active {
  background-color: rgba(107, 107, 107, 0.1);
}
