.content {
  padding: 1rem;
}
.languages {
  display: flex;
  justify-content: space-between;
}
.anchor {
  color: #333;
  font-size: 14px;
  width: 23%;
  padding: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}
.anchor img {
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  width: 24px;
}
.anchor span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.anchor:hover,
.anchor:active {
  background-color: rgba(107, 107, 107, 0.1);
}
