.container {
  width: 40%;
  margin: 0 auto;
}
.container h2 {
  margin: 40px 0;
}

.sign {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sign h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.action {
  display: flex;
  width: 100%;
  height: 36px;
  margin: 5px 0;
  outline: none;
}
.action:focus {
  border: 2px solid #0071c2;
}
.button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  margin: 10px 0;
  background-color: #0071c2;
  border-color: #0071c2;
  cursor: pointer;
}
.button:hover,
.button:active {
  background-color: #00487a;
}
.textline {
  font-size: 14px;
  color: #383838;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dedede;
  line-height: 1px;
  margin-top: 20px;
}
.textline span {
  background: #fff;
  padding: 0 10px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
}
.icons a {
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}
.icons a:hover,
.icons a:active {
  border: 1px solid #005c9d;
  /* transition: 0.25s; */
  transition: all 0.25s ease-in-out;
}
.more {
  color: #00487a;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.more a {
  cursor: default;
}
.footer {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
