.button {
  background-color: #003580;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 2px;
  margin: 0.2rem;
  border: 1.25px solid white;
}
.button:hover,
.button:active {
  background-color: rgba(0, 113, 194, 0.2);
}
