.button {
  font: inherit;
  border: 1px solid white;
  background: white;
  color: rgba(51, 51, 51, 0.5);
  padding: 0 auto;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 20px;
}

.button:hover,
.button:active {
  color: black;
}

.button:focus {
  outline: none;
}
