.wrapper {
  background-color: rgb(0, 53, 128);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003580;
  padding: 12px 32px 0 32px;
  max-width: 1140px;
  max-height: 60px;
  margin: 0 auto;
}
.button {
  display: flex;
  align-items: center;
}
.header-text {
  color: white;
  padding: 8px 16px 8px 0;
  /* height: 40px; */
}
